# Core LangChain libraries
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-huggingface
langchain-community

# AI / Models
openai
google-generativeai
transformers
huggingface-hub

# Environment variable management
python-dotenv

# Machine learning utilities
numpy
scikit-learn

# PDF reading
PyPDF2

# Web app framework
streamlit
